<<<<<<< HEAD
﻿@model List<Demo.Models.Product>

<h2>Trang chủ</h2>

<!-- BANNER -->
<div class="hero-banner">
    <div class="overlay">
        <h1>Shop Thời Trang Nam</h1>
        <p>Phong cách - Trẻ trung - Giá tốt</p>
    </div>
</div>
=======
﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
>>>>>>> 461bfdba4bfdacf7c991ce4bd8b8e49b293e0bb0
